{% load static %}
{% include "header.html" %}

{% include "trail.html" %}

  

    <div class="wholepage s">
        <div class="textbox1">
            <div class="purelycrafted text">Best of Purely Handicrafted</div>
            <div class="etikoppaka text"> Timeless Art of Etikoppaka</div>
            <div class="direct">direct from artists</div>
       
        </div>
        <div class="p3 sl">
            <div class="img1"><img src="\static\toys collection\T1A6996.webp" class="im1"></div>
            <div class="img2"><img src="\static\toys collection\covid-warr.webp" class="im1"></div>

        </div>
        <div class="p4 sr">
            <div class="pic1"><img src="\static\toys collection\EKT-001-BG-01-1.webp" class="pc1"></div>
            <div class="pic2"><img src="\static\toys collection\haridasu.webp" class="pc1"></div>
        </div>
        <div class="p5 sl"></div>
        <div class="p6 sr"></div>
        <div class="p7 sl"></div>
        <div class="p8 sr"></div>
        <div class="p8 sl"></div>
        <div class="p9 sr"></div>
        <div class="footerpanel">
            
            <div class="fp1">
            <div class="fblock1">
                <div class="faddress1">
                    <ul><a id="etikoppaka">Etikoppaka</a></ul>
                    <ul><a>Visakhapatnam</a></ul>
                    <ul><a>Andhrapradesh</a></ul>
                </div>
                <div class="faddress2">
                    <ul><a id="chaitanya">Chaitanya</a></ul>
                    <ul><a>varahacraftsonline@gmail.com</a></ul>
                    <ul> <a>+918309942984</a></ul>
                </div>
            </div>
            <div class="ficonblock">
                <div class="finstaicon ficon" onclick="finstaprofile()"><i class="fa-brands fa-instagram"></i></div>
                <div class="ffbicon ficon" onclick="flinkedinprofile()"><i class="fa-brands fa-facebook"></i></div>
                <div class="flinkedin ficon" onclick="flinkedinprofile()"><i class="fa-brands fa-linkedin"></i></div>
            </div>
        </div>
        
            <div class="fshop fbox">
                
                <ul><h5>SHOP</h5></ul>
                <ul><a>Shop</a></ul>
                <ul><a>Cart</a></ul>
                <ul><a>Wishlist</a></ul>
                
            </div>
            <div class="fknowus fbox">
                <ul><h5>KNOW US</h5></ul>
                <ul><a>Aim</a></ul>
                <ul><a>Etikoppaka</a></ul>
                <ul><a>Artists</a></ul>
                
            </div>
            <div class="fcontact fbox">
                <ul><h5>CONTACT US</h5></ul>
                <ul><a>Call us</a></ul>
                <ul><a>report</a></ul>
                <ul><a>Statistics</a></ul>
            </div>

            
        </div>

    </div>
    </div>
</body>
<script src="{% static 'script.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>







